{% extends "base.html" %}

{% block title %}PROJECT{% endblock %}

{% block content %}
<h1>PROJECT</h1>
<p>This is a <a href="https://testdriven.io/test-driven-development/">test-driven</a>,
  <a href="https://www.atlassian.com/continuous-delivery/principles/continuous-integration-vs-delivery-vs-deployment">continuously
  deployed</a>, <a href="https://www.postman.com/api-first/">API-first</a>,
  <a href="https://medium.com/bitsrc/a-practical-guide-to-progressive-enhancement-in-2023-52c740c3aff3">progressively
  enhanced</a> <a href="https://www.djangoproject.com/">Django</a> project.</p>
{% endblock %}
